name: Build and Deploy to AKS

on:
  workflow_dispatch:

jobs:
  build:
    name: Build and Push Docker Image to ACR
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

  deploy:
    name: Deploy to AKS
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 10
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
